.large-hero {

  &__image {
    display: block;/*to erase the space between the img and bottom border*/
  }

  &__text-content {
    padding-top: 88px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;

    @mixin atMedium {
      padding-top: 100px;
    }
  }

  &__title {
    font-weight: 100;
    font-size: 2.4rem;
    margin: 0;
    color: white;
    padding: 0 20px;
    /* font-family: 'Roboto', sans-serif; */

    @mixin atMedium{
      font-size: 6rem;
      letter-spacing: 5px;
    }

    @mixin atLarger {
      font-size: 7rem;
    }

  }

  &__btn{
    margin-top: 50px;
    background-color: transparent;
    border: .5px solid white;
    text-decoration: none;
     padding: .8rem 1.6rem;
    display: inline-block;
    outline: none;
    transition: all 0.25s ease-out;
    font-size: 1.2rem;
    color: white;
    letter-spacing: 5px;

    @mixin atMedium {
      font-size: 2rem;
      padding: 1.1rem 1.9rem;
    }

    @mixin atLarger {
      font-size: 3rem;
      padding: 1.3rem 2.1rem;
    }

    &:hover{
      background-color: rgba(0,0,0,0.5);
      border: .5px solid transparent;
      transform: scale(0.9);
    }


  }
}

.fancybox-bg {
  background-color: rgba(0,0,0,.5);
}