.project {

	&__col {
		max-width: 300px !important;
		max-height: 300px !important;
		margin-left: 30px;
		margin-bottom: 60px;
		position: relative;

		&:hover .project__overlay {
			opacity: 1;
		}
	}
	&__thumbnail{
		border: 5px solid rgba($color-first, .3);
		cursor: pointer;
		width: 300px;
		height: 300px;
	}

	&__overlay {
		opacity: 0;
		width: 300px;
		height: 300px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		background-color: rgba($color-first, .8);
		transition: opacity .3s ease-in-out;

		h2 {
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-weight: 300;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 2px;
			white-space: nowrap;
			color: #fff;
		}

		button {
			position: absolute;
			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%);
			cursor: pointer;
			border: 1px solid $color-second;
			background-color: transparent;
			font-weight: light;
			font-size: 14px;
			color: #fff;
			padding: 10px;
			letter-spacing: 3px;
			transition: all .25s ease-in-out;
			text-transform: uppercase;

			&:hover {
				background-color: $color-second;
			}

		}
	}
}
