.project {
	.col-lg {
		padding-left: 0 !important;
		padding-right: 0 !important;

		@mixin atMedium {
			padding-right: 15px;
			padding-left: 15px;
		}
	}

	&__col {
		max-width: 300px !important;
		max-height: 300px !important;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		position: relative;
		transition: all .25s ease-in-out;

		&:hover .project__overlay {
			transform: rotate(360deg);
			opacity: 1;
		}

		&:hover .project__thumbnail {
			border: 5px solid transparent;
		}

		@mixin atLarge {
			margin-left: 30px;
			margin-bottom: 60px;
		}

		&:hover {
			transform: scale(1.05);
		}
	}
	&__thumbnail{
		border: 5px solid rgba($color-first, .3);
		cursor: pointer;
		width: 300px;
		height: 300px;
		box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
		border-radius: 3px;
		transition: all .25s ease-in-out;
	}

	&__overlay {
		opacity: .8;
		width: 300px;
		height: 300px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		background-color: rgba($color-first, .8);
		background-image: linear-gradient(to right bottom, $color-first, $color-first-dark);
		transition: opacity .25s linear;
		border-radius: 3px;

		@mixin atLarge {
			opacity: 0;
		}

		h2 {
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-weight: 300;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 2px;
			white-space: nowrap;
			color: #fff;
		}

		button {
			position: absolute;
			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%);
			cursor: pointer;
			border: 1px solid $color-second;
			background-color: transparent;
			font-weight: light;
			font-size: 14px;
			color: #fff;
			padding: 10px;
			letter-spacing: 3px;
			transition: all .25s ease-in-out;
			text-transform: uppercase;

			&:hover {
				background-color: $color-second;
				margin-top: 5px;
			}

		}
	}
}

